@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* @font-face {
    font-family: CascadiaMono;
    src: url("font/CascadiaMono.woff2");
} */

::selection {
    color: white;
    background: var(--primary-color);
}

:root {
    --code-font: CascadiaMono, sans-serif;
    --primary-color: #0af;
    --light-primary-color: rgba(125, 212, 255, 0.5);
    --dark-primary: rgb(0, 151, 226);
    --dark-blue-primary: #004993;
    --hover-primary: rgb(75, 195, 255);
    /* --text-color: rgb(4, 6, 8); */
    --text-color: rgb(17, 17, 17);
}

body {
    margin: 0;
    /* background: rgb(251, 251, 251); */
    /* background: radial-gradient(80.99% 100% at 50% 0%, #00FF0A 0%, #36008E 100%), radial-gradient(50% 123.47% at 50% 50%, #EFE7C8 0%, #36008E 100%), linear-gradient(301.28deg, #FF006B 0%, #48DD9E 100%), linear-gradient(294.84deg, #5A60E4 0%, #D30000 100%), linear-gradient(52.29deg, #000000 0%, #00FF85 100%), radial-gradient(100% 138.69% at 100% 0%, #0007A5 0%, #FF7A00 100%), radial-gradient(70.41% 100% at 50% 0%, #D5B300 0%, #2200AA 100%);
            background-blend-mode: screen, screen, lighten, overlay, lighten, difference, normal; */
}

.bg-div {
    background: linear-gradient(125deg, #ecfcff 0%, #ecfcff 40%, #b2fcff calc(40% + 1px), #b2fcff 60%, #5edfff calc(60% + 1px), #5edfff 72%, #3e64ff calc(72% + 1px), #3e64ff 100%);
    margin: 0;
    height: 50rem;
    /* background: linear-gradient(235deg, #FFFFFF 0%, #000F25 100%), linear-gradient(180deg, #6100FF 0%, #000000 100%), linear-gradient(235deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%), linear-gradient(125deg, #FFA3AC 0%, #FFA3AC 40%, #00043C calc(40% + 1px), #00043C 60%, #005D6C calc(60% + 1px), #005D6C 70%, #00C9B1 calc(70% + 1px), #00C9B1 100%);
            background-blend-mode: soft-light, screen, darken, normal; */
    background-position: center;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
    transition: 0.7s ease;
    opacity: 0;
}

strong {
    font-weight: 500;
}

.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    max-height: 20rem;
    max-width: 90vw;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    margin: 1.3rem 0;
}

li p {
    line-height: 0rem;
}

li {
    margin: 0.5rem 0;
}

p {
    color: var(--text-color);
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 1.7rem 0;
}

h1 {
    color: var(--dark-blue-primary);
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.5rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-blue-primary);
    font-weight: 600;
    margin: 3rem 0 0rem 0;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hr {
    display: none;
}

a {
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--primary-color);
}

.content {
    max-width: 65rem;
    padding: 3rem 5rem 5rem;
    margin: 10rem 40px 0;
    box-shadow: 0 4px 24px 7px rgb(0 0 0 / 4%), 0 12px 64px 1px rgb(0 0 0 / 10%);
    background: white;
    position: absolute;
    top: -4.5rem;
    border-radius: 5px;
    right: 30rem;
    /* box-shadow: 0 8px 60px 0 rgb(0 0 0 / 11%), 0 12px 90px 0 rgb(0 0 0 / 11%); */
}

@media (max-width: 1224px) {
    .bg-div {
        display: none;
    }

    .content {
        max-width: initial;
        margin: 0rem auto;
        box-shadow: none;
    }
}

@media (max-width: 724px) {
    .content {
        top: 0;
    }
}

@media (max-width: 1600px) {
    .common-points {
        display: none;
    }

    .content {
        width: 90%;
        right: auto;
    }
}

@media (max-width: 500px) {
    :root {
        --text-color: #525966;
    }

    html {
        font-size: 13px;
    }

    h1 {
        margin: 2rem auto 0.2rem;
    }

    .content {
        padding-bottom: 2rem;
        margin: 0 auto;
    }

    .content h1 {
        font-weight: 400;
    }

    pre,
    code,
    .token {
        font-size: 1rem !important;
    }
}

.blogs-bg {
    background: #f0f0f0;
}
