@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: codeFont;
    src: url("/font/CascadiaCode.woff2");
  }
  @font-face {
    font-family: textFont;
    src: url("/font/Sohne.woff");
  }
}

.projectDiv a span {
  @apply !block;
}

.touch-disable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  color: #071124;
  background: #65feda;
}

::selection {
  color: #071124;
  background: #65feda;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  @apply font-bodyText;
}

.btn {
  @apply border duration-300 hover:bg-cyanPrimary/5 text-base lg:text-xl border-cyanPrimary py-3 px-7 text-cyanPrimary rounded-md;
}

.input {
  @apply px-5 py-3 duration-200 border-[1px] border-transparent rounded-[4px] outline-none bg-darkBluePrimary focus:border-cyanPrimary text-lightBluePrimary placeholder:text-lightBlueSecondary;
}

.loader {
  margin: 0 auto;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  @apply border-4 border-t-4 border-t-cyanPrimary border-cyanPrimary/10;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-darkBluePrimary;
  border-radius: 500px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-cyanPrimary/10;
  border-radius: 500px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-cyanPrimary;
  /* background: #7a7f9c; */
}

/* ---------- new blog styles ------------
img {
    display: flex;
    max-height: 20rem;
    max-width: 90vw;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    margin: 1.3rem 0;
}

li p {
    line-height: 0rem;
}

li {
    margin: 0.5rem 0;
}

p {
    color: var(--text-color);
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 1.7rem 0;
}

h1 {
    color: var(--dark-blue-primary);
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.5rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-blue-primary);
    font-weight: 600;
    margin: 3rem 0 0rem 0;
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

hr {
    display: none;
}

a {
    font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--primary-color);
}

.content {
    max-width: 65rem;
    padding: 3rem 5rem 5rem;
    margin: 10rem 40px 0;
    box-shadow: 0 4px 24px 7px rgb(0 0 0 / 4%), 0 12px 64px 1px rgb(0 0 0 / 10%);
    background: white;
    position: absolute;
    top: -4.5rem;
    border-radius: 5px;
    right: 30rem;
}

@media (max-width: 1224px) {
    .bg-div {
        display: none;
    }

    .content {
        max-width: initial;
        margin: 0rem auto;
        box-shadow: none;
    }
}

@media (max-width: 724px) {
    .content {
        top: 0;
    }
}

@media (max-width: 1600px) {
    .common-points {
        display: none;
    }

    .content {
        width: 90%;
        right: auto;
    }
}

@media (max-width: 500px) {
    :root {
        --text-color: #525966;
    }

    html {
        font-size: 13px;
    }

    h1 {
        margin: 2rem auto 0.2rem;
    }

    .content {
        padding-bottom: 2rem;
        margin: 0 auto;
    }

    .content h1 {
        font-weight: 400;
    }

    pre,
    code,
    .token {
        font-size: 1rem !important;
    }
} */
